/* la-belle-aurore */
@font-face {
	font-family: La Belle Aurore;
	font-style: normal;
	font-weight: 400;
	src: local("La Belle Aurore"), local("LaBelleAurore"), url(la-belle-aurore.woff2) format("woff2");
	font-display: block;
}

