<link href="/font/la-belle-aurore/la-belle-aurore.css" rel="stylesheet">
<link href="/font/cormorant/cormorant.css" rel="stylesheet">
<style>
    h1 a:not(:hover),
    h2 a:not(:hover),
    h3 a:not(:hover),
    h4 a:not(:hover),
    h5 a:not(:hover),
    h6 a:not(:hover) {
        border-bottom: none;
    }
    
    .rightfloat {
        float: right;
    }
    .texticon {
        display: inline-block;
        position: relative;
        top: 6px;
        height: 18px;
        width: 18px;
        margin: 0 6px;
    }
</style>
