/* cormorant-light */
@font-face {
	font-family: Cormorant;
	font-style: normal;
	font-weight: 400;
	src: local("Cormorant Light"), local("Cormorant-Light"), url(cormorant-light.woff2) format("woff2");
	font-display: block;
}
/* cormorant-bold */
@font-face {
	font-family: Cormorant;
	font-style: normal;
	font-weight: 700;
	src: local("Cormorant Bold"), local("Cormorant-Bold"), url(cormorant-bold.woff2) format("woff2");
	font-display: block;
}
/* cormorant-bold-italic */
@font-face {
	font-family: Cormorant;
	font-style: italic;
	font-weight: 700;
	src: local("Cormorant Bold Italic"), local("Cormorant-BoldItalic"), url(cormorant-bold-italic.woff2) format("woff2");
	font-display: block;
}
/* cormorant-light-italic */
@font-face {
	font-family: Cormorant;
	font-style: italic;
	font-weight: 400;
	src: local("Cormorant Light Italic"), local("Cormorant-LightItalic"), url(cormorant-light-italic.woff2) format("woff2");
	font-display: block;
}

